In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
import datetime

In [2]:
data_dir_name ="AWS"
filename="Wet Station Table1.xlsx"
this_dir=Path.cwd()
data_dir=this_dir.parent/Path(data_dir_name)
data=data_dir/Path(filename)

In [3]:
xls = pd.ExcelFile(str(data))
# dtypes = ['datetime', 'float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float','float']
df1 = pd.read_excel(xls, 'Sheet1', skiprows=[0,2,3],
                   converters= {'TIMESHEET': pd.to_datetime},
                   na_values=['NAN'],
                   index_col=0)
# df2 = pd.read_excel(xls, 'Sheet2',header=0)
df1

,RECORD,BattV_Avg,PTemp_C_Avg,SWUpper_Avg,SWLower_Avg,LWUpper_Avg,LWLower_Avg,CNR4TC_Avg,Albedo_Avg,LWUpperCo_Avg,...,Temp19_Avg,Temp20_Avg,Temp21_Avg,Temp22_Avg,Temp23_Avg,Temp24_Avg,Temp25_Avg,Temp26_Avg,Temp27_Avg,Temp28_Avg
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2019-06-26 10:15:00,0,12.79,23.01,1.461,1.462,2.353,1.004,22.28,1.000,434.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-06-26 10:30:00,1,12.78,23.00,1.446,1.433,1.932,0.902,22.31,0.991,434.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-06-26 10:45:00,2,12.79,22.98,1.414,1.351,1.694,0.723,22.35,0.955,434.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-06-26 11:00:00,3,12.79,22.95,1.395,1.239,1.659,0.780,22.31,0.887,433.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-06-26 11:15:00,4,12.79,22.93,1.401,1.210,1.613,0.816,22.29,0.863,433.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-25 21:15:00,37260,15.15,-15.82,90.700,98.600,-20.640,-6.360,-16.73,1.089,224.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09-25 21:30:00,37261,15.15,-15.92,76.500,86.700,-20.330,-5.333,-16.85,1.135,224.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09-25 21:45:00,37262,14.41,-16.00,65.850,65.510,-21.890,-5.125,-16.91,0.993,222.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09-25 22:00:00,37263,13.47,-16.12,50.490,48.360,-12.320,-2.534,-17.08,0.958,231.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09-25 22:15:00,37264,13.20,-16.25,37.630,33.100,-5.159,-1.063,-16.99,0.873,239.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 37265 entries, 2019-06-26 10:15:00 to 2021-09-25 22:15:00
Data columns (total 43 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   RECORD         37265 non-null  int64
 1   BattV_Avg      37265 non-null  float64
 2   PTemp_C_Avg    37265 non-null  float64
 3   SWUpper_Avg    159 non-null    float64
 4   SWLower_Avg    159 non-null    float64
 5   LWUpper_Avg    159 non-null    float64
 6   LWLower_Avg    145 non-null    float64
 7   CNR4TC_Avg     37265 non-null  float64
 8   Albedo_Avg     159 non-null    float64
 9   LWUpperCo_Avg  159 non-null    float64
 10  LWLowerCo_Avg  145 non-null    float64
 11  AirTC_Avg      37265 non-null  float64
 12  RH             161 non-null    float64
 13  WS_ms_Avg      37265 non-null  int64
 14  WindDir        37265 non-null  float64
 15  Temp1_Avg      37106 non-null  float64
 16  Temp2_Avg      37106 non-null  float64
 17  Temp3_Avg      37106 non-null  float64
 18  Temp4_Avg      37106 non-null  float64
 19  Temp5_Avg      37106 non-null  float64
 20  Temp6_Avg      37106 non-null  float64
 21  Temp7_Avg      37106 non-null  float64
 22  Temp8_Avg      37106 non-null  float64
 23  Temp9_Avg      37106 non-null  float64
 24  Temp10_Avg     37106 non-null  float64
 25  Temp11_Avg     37106 non-null  float64
 26  Temp12_Avg     37106 non-null  float64
 27  Temp13_Avg     37106 non-null  float64
 28  Temp14_Avg     37106 non-null  float64
 29  Temp15_Avg     37106 non-null  float64
 30  Temp16_Avg     37106 non-null  float64
 31  Temp17_Avg     37106 non-null  float64
 32  Temp18_Avg     37106 non-null  float64
 33  Temp19_Avg     37106 non-null  float64
 34  Temp20_Avg     37106 non-null  float64
 35  Temp21_Avg     37106 non-null  float64
 36  Temp22_Avg     37106 non-null  float64
 37  Temp23_Avg     37106 non-null  float64
 38  Temp24_Avg     37106 non-null  float64
 39  Temp25_Avg     37106 non-null  float64
 40  Temp26_Avg     37106 non-null  float64
 41  Temp27_Avg     37106 non-null  float64
 42  Temp28_Avg     37106 non-null  float64
dtypes: float64(41), int64(2)
memory usage: 12.5 MB

In [5]:
df1.describe()

,RECORD,BattV_Avg,PTemp_C_Avg,SWUpper_Avg,SWLower_Avg,LWUpper_Avg,LWLower_Avg,CNR4TC_Avg,Albedo_Avg,LWUpperCo_Avg,...,Temp19_Avg,Temp20_Avg,Temp21_Avg,Temp22_Avg,Temp23_Avg,Temp24_Avg,Temp25_Avg,Temp26_Avg,Temp27_Avg,Temp28_Avg
count,37265.000000,37265.000000,37265.000000,159.000000,159.000000,159.000000,145.000000,37265.000000,159.000000,159.000000,...,37106.000000,37106.000000,37106.000000,37106.000000,37106.000000,37106.000000,37106.000000,37106.000000,37106.000000,37106.000000
mean,213.913323,13.969276,-8.248686,48.926415,128.753484,-11.713365,-6.360145,1784.581570,1.273340,342.616981,...,-9.588029,-7.930225,-6.081140,-8.716038,-9.481540,-9.749687,-9.454330,-9.361314,-9.002245,-8.395974
std,1594.578687,0.828194,4.084420,61.006772,192.357317,20.357073,12.314815,117.124718,3.799504,101.713636,...,0.407482,2.444488,3.937879,1.412514,0.436033,0.421818,0.464095,0.192096,0.276648,0.696477
min,0.000000,12.720000,-18.170000,0.051000,-0.477000,-78.250000,-57.040000,-18.440000,-9.960000,187.600000,...,-10.080000,-9.940000,-9.790000,-9.980000,-9.960000,-10.100000,-9.790000,-9.600000,-9.430000,-9.250000
25%,120.000000,13.010000,-11.790000,0.074000,-0.022000,-19.010000,-8.940000,1784.000000,-0.468500,235.200000,...,-9.920000,-9.660000,-9.450000,-9.710000,-9.800000,-10.020000,-9.680000,-9.460000,-9.170000,-8.880000
50%,145.000000,14.500000,-10.040000,1.413000,1.429000,0.474000,0.861000,1791.000000,0.913000,428.600000,...,-9.680000,-8.980000,-8.520000,-9.190000,-9.600000,-9.920000,-9.640000,-9.410000,-9.090000,-8.670000
75%,171.000000,14.640000,-4.745000,109.750000,217.150000,0.614500,1.226000,1801.000000,1.604500,428.900000,...,-9.360000,-7.122000,-0.987000,-8.240000,-9.300000,-9.640000,-9.450000,-9.360000,-8.830000,-7.993000
max,37264.000000,15.280000,23.810000,196.100000,645.200000,2.353000,1.704000,1821.000000,19.590000,438.800000,...,-7.479000,-0.071000,-0.022000,-0.718000,-6.454000,-6.062000,-5.327000,-7.914000,-7.659000,-6.048000

In [6]:
df1.index

DatetimeIndex(['2019-06-26 10:15:00', '2019-06-26 10:30:00',
               '2019-06-26 10:45:00', '2019-06-26 11:00:00',
               '2019-06-26 11:15:00', '2019-06-26 11:30:00',
               '2019-06-26 11:45:00', '2019-06-26 12:00:00',
               '2019-06-26 12:15:00', '2019-06-26 12:30:00',
               ...
               '2021-09-25 20:00:00', '2021-09-25 20:15:00',
               '2021-09-25 20:30:00', '2021-09-25 20:45:00',
               '2021-09-25 21:00:00', '2021-09-25 21:15:00',
               '2021-09-25 21:30:00', '2021-09-25 21:45:00',
               '2021-09-25 22:00:00', '2021-09-25 22:15:00'],
              dtype='datetime64[ns]', name='TIMESTAMP', length=37265, freq=None)

In [7]:
df1_daily=df1.resample('D').mean()
df1_daily

,RECORD,BattV_Avg,PTemp_C_Avg,SWUpper_Avg,SWLower_Avg,LWUpper_Avg,LWLower_Avg,CNR4TC_Avg,Albedo_Avg,LWUpperCo_Avg,...,Temp19_Avg,Temp20_Avg,Temp21_Avg,Temp22_Avg,Temp23_Avg,Temp24_Avg,Temp25_Avg,Temp26_Avg,Temp27_Avg,Temp28_Avg
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2019-06-26,27.0,12.782727,22.284182,0.320691,0.182182,0.826455,1.273673,21.773091,-0.803091,429.789091,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-06-27,72.0,12.775429,22.634857,0.680343,0.680114,0.995171,1.165429,22.164857,0.160029,432.254286,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-06-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09-25,37247.5,14.989706,-14.979412,123.261765,270.634412,-22.178235,-10.749735,-14.353529,2.076000,232.267647,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df1_yearly = df1.resample('Y').mean()
df1_yearly

,RECORD,BattV_Avg,PTemp_C_Avg,SWUpper_Avg,SWLower_Avg,LWUpper_Avg,LWLower_Avg,CNR4TC_Avg,Albedo_Avg,LWUpperCo_Avg,...,Temp19_Avg,Temp20_Avg,Temp21_Avg,Temp22_Avg,Temp23_Avg,Temp24_Avg,Temp25_Avg,Temp26_Avg,Temp27_Avg,Temp28_Avg
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2019-12-31,145.24707,13.967258,-8.236197,0.460556,0.375822,0.892067,1.243763,1787.918037,-0.428544,430.747778,...,-9.588029,-7.930225,-6.08114,-8.716038,-9.48154,-9.749687,-9.45433,-9.361314,-9.002245,-8.395974
2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-31,37230.00000,15.057391,-14.981159,112.142754,296.202609,-28.155232,-14.735464,-14.015638,3.493188,227.663768,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df1_yearly.plot()

,RECORD,BattV_Avg,PTemp_C_Avg,SWUpper_Avg,SWLower_Avg,LWUpper_Avg,LWLower_Avg,CNR4TC_Avg,Albedo_Avg,LWUpperCo_Avg,...,Temp19_Avg,Temp20_Avg,Temp21_Avg,Temp22_Avg,Temp23_Avg,Temp24_Avg,Temp25_Avg,Temp26_Avg,Temp27_Avg,Temp28_Avg
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2019-12-31,145.24707,13.967258,-8.236197,0.460556,0.375822,0.892067,1.243763,1787.918037,-0.428544,430.747778,...,-9.588029,-7.930225,-6.08114,-8.716038,-9.48154,-9.749687,-9.45433,-9.361314,-9.002245,-8.395974
2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-31,37230.00000,15.057391,-14.981159,112.142754,296.202609,-28.155232,-14.735464,-14.015638,3.493188,227.663768,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN